<!DOCTYPE html>
<html>
<head>
  <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
  {% if meta.description %}
    <meta name="description" content="{{ meta.description }}"> 
  {% endif %}
  <link rel="stylesheet" href="{{ theme_url }}/css/style.css" type="text/css" />
  <script src="{{ theme_url }}/js/script.js"></script>
</head>
<body>

  <header>
    <div class="inner">
      <a href="{{ base_url }}" class="logo"><img src="{{ base_url }}/images/logo.jpg" alt=""></a>
      <div class="submenu">{{ submenu }}</div>
    </div>
  </header>

  <div class="navigation">
    <div class="inner">
      {{ primary_menu }}
    </div>    
  </div>

  <div class="body">
    <div class="inner">

      {% if is_front_page %}
        {% for page in pages if page.featured %}
          <div class="one-fourth featured {{ page.color }} {% if loop.index==4 %}omega{% endif %}">
            <h3>{{ page.title }}</h3>
            <p>{{ page.excerpt }}</p>
            <a href="{{ page.url }}" class="readmore">Read more..</a>
          </div>
        {% endfor %}
      {% else %}

      {% if images %}
      <div class="mast">
        <img src="{{ images|first.url}}" alt="">
        <div class="overlay"><h2>{{ parent.title }}</h2>{{ parent.message }}</div>
      </div>
      {% endif %}

      {% if secondary_menu %}
      {% embed "blocks.html" %}
        {% block title %}  {% endblock %}
        {% block secondary %} {{ secondary_menu }} {% endblock %}
      {% endembed %}
      {% endif %}
      
      <div class="{% if secondary_menu %} two-third omega {% endif %}">
        <h2>{{ meta.title }}</h2>
        {{ content }}
      </div>

      {% endif %}
    </div>
  </div>

  <footer>
    <div class="inner">
      Copyright &copy; 2014 | Powertech Energy Savers
    </div>
  </footer>
</body>
</html>
