<!DOCTYPE html>
<html>
<head>
  <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
  {% if meta.description %}
    <meta name="description" content="{{ meta.description }}"> 
  {% endif %}{% if meta.robots %}
    <meta name="robots" content="{{ meta.robots }}">
  {% endif %}
  <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ theme_url }}/css/style.css" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script src="/js/script.js"></script>
</head>
<body>
  <header id="header">
    <div class="inner clearfix">
      <h1><a href="{{ base_url }}">{{ site_title }}</a></h1>
    </div>
  </header>

  <div class="navigation">
    <div class="inner">
      {{ primary_menu }}
    </div>    
  </div>

  <div class="body">
    <div class="inner">

      {% if secondary_menu %}
      {% embed "blocks.html" %}
        {% block title %} {{ parent.title }} {% endblock %}
        {% block secondary %} {{ secondary_menu }} {% endblock %}
      {% endembed %}
      {% endif %}

      <div class="{% if secondary_menu %} two-third omega {% endif %}">
        {{ content }}  
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="inner">
      Copyright &copy; 2014 | Powertech Energy Savers
    </div>
  </div>
</body>
</html>
