@import 'compass/css3';
@import 'compass/layout/stretching';
@import 'susy';
@import 'blueprint/form';
@import 'normalize';

$blue: #02b6df;
$green: #97cc46;
$orange: #f4a403;
$gray: #666;

$header-height: 100px;
