@import 'compass/css3';
@import 'compass/layout/stretching';
@import 'susy';
@import 'blueprint/form';
@import 'normalize';
@import 'blueprint/form';


$total-columns: 12;
$column-width: 4.5em;
// $blue: #02b6df;
$blue: #3498db;
// $green: #97cc46;
$green: #27ae60;
// $orange: #f4a403;
$orange: #e67e22;
$gray: #666;
$dark-gray: #333;
$red: #e74c3c;

$header-height: 100px;
