.navigation {
  margin-bottom: 18px;
  .inner {
    @include border-radius(5px);
    background: $gray;  
  }
}

.navigation .inner > ul {
  padding:0;
  margin:0;
  list-style-type:none;
}

.navigation .inner > ul li { float:left; }

.navigation .inner > ul li a {
  @include box-sizing(border-box);
  padding:3px 12px;
  display:block;
  color:#fff;
  text-decoration:none;
}

/* Submenu */
.navigation .inner > ul ul {
  position:absolute;
  left:-9999px;
  top:-9999px;
  list-style-type:none;
  padding: 0;
  margin: 0;
}

.navigation .inner > ul li:hover { position:relative; background:darken($gray, 10%); }

.navigation .inner > ul li:hover ul {
  left:0px;
  top:30px;
  padding:0;
  margin: 0;
  background: inherit;
  z-index: 99;
}

.navigation .inner > ul li:hover ul li a {
  @include adjust-font-size-to(15px);
  width:248px;
  border-bottom: 1px solid #999; 
}

.navigation .inner > ul li ul li:hover {
  background: darken($gray, 20%);
}

// .navigation li.is-current a { background: lighten($gray, 40%); color: #000 !important; }