.navigation {
  margin-bottom: 18px;

  .inner {
    @include border-radius(5px);
    // background: #999;  
    @include background(darken($gray, 10%) linear-gradient(top, rgba(white, .3), rgba(white, 0) 50%, rgba(black, .12) 51%, rgba(black, .04)));
  }

  .orange{
    background: none;
    border-bottom: 4px solid $orange;
  }
  .green{
    background: none;
    border-bottom: 4px solid $green;
  }
  .blue{
    background: none;
    border-bottom: 4px solid $blue
  }
  .dark-gray{
    background: none;
    border-bottom: 4px solid $dark-gray;
  }
  .red {
    background: none;
    border-bottom: 4px solid $red;
  }
}


.navigation .inner > ul {
  padding:0;
  margin:0;
  list-style-type:none;
}

.navigation .inner > ul li { float:left; }

.navigation .inner > ul li a {
  @include box-sizing(border-box);
  padding:3px 12px;
  display:block;
  color:#fff;
  text-decoration:none;
}

/* Submenu */
.navigation .inner > ul ul {
  position:absolute;
  left:-9999px;
  top:-9999px;
  list-style-type:none;
  padding: 0;
  margin: 0;
}

.navigation .inner > ul li:hover { 
  position:relative; 
  background:darken($gray, 5%); 
  & > a {
    @include background(darken($gray, 10%) linear-gradient(top, rgba(white, .3), rgba(white, 0) 50%, rgba(black, .12) 51%, rgba(black, .04)));
  }
}

.navigation .inner > ul li:hover ul {
  left:0px;
  top:30px;
  padding:0;
  margin: 0;
  background: inherit;
  z-index: 99;

  & ul {
    display: none;
  }
}

.navigation .inner > ul li:hover ul li a {
  @include adjust-font-size-to(15px);
  width:248px;
  border-bottom: 1px solid #999; 
}

.navigation .inner > ul li ul li:hover {
  background: darken($gray, 20%);
}

.navigation li.is-current a { background: darken($gray, 10%); color: #fff !important; }